* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {}

header {
    width: 100%;
    height: 120px;
}

nav {
    width: 1280px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

.logo img {
    width: 100%;
}

menu {
    display: flex;
}

menu a:link,
menu a:visited {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    transition: .3s;
    color: #242424;
}

menu a:hover {
    background-color: #40424a;
}

.bar {
    width: 100%;
    height: 40px;
    background-color: #10014D;
}

.bar-text {
    width: 200px;
    height: 40px;
    background-color: #0F0586;
    color: #fafafa;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 14px;
}

main {
    width: 100%;
}

section {
    width: 100%;
    position: relative;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

.preco {
    color: #090e5e;
    padding: 90px;
    font-size: 24px;
}

.potencia {
    color: #090e5e;
    font-size: 24px;
    text-align: center;
}

.torque {
    color: #090e5e;
    font-size: 24px;
    right: 100px;
    text-align: right;
    padding: 59px;
}

.galeria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
    background-color: #090e5e;
}

.galeria h2 {
    width: 100%;
    font-size: 42px;
    text-transform: uppercase;
    color: #fafafa;
}

.galeria h2 span {
    color: #090e5e;
    position: relative;
    top: 0px;
    top: 16px;
    left: -20px;
}

.thumbs {
    width: 630px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.thumb {
    width: 200px;
    height: 100px;
}

.thumb img {
    width: 100%;
    height: 100px;
}

.large {
    width: 630px;
}

.img-large {
    width: 100%;
}

.img-large img {
    width: 100%;
}

.titulo-cores {
    color: #242424;
    font-size: 24px;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cor {
    width: 100%;
}

.cor img {
    width: 1280px;
}

footer {
    width: 100%;
    background-color: #181818;
}

footer nav {
    width: 1280px;
    display: flex;
    gap: 32px;
    margin: 0 auto;
}

footer nav menu,
footer nav .social {
    width: 624px;
    display: flex;
}

footer nav menu {
    flex-wrap: wrap;
    gap: 4px 16px;
}

footer nav menu a {
    display: flex;
    width: fit-content;
    height: 32px;
    justify-content: center;
    align-items: center;
    color: #fafafa text-decoration;
}

footer nav .social {
    gap: 16px;
    justify-content: end;
    align-items: center;
    color: #fafafa;
}

footer .info {
    width: 1280px;
    margin: 0 auto;
    padding: 32px 0;
    color: #fafafa;
}

footer .info p {
    font-size: 14px;
}